@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";



:root {

  --background: #080808;

  --foreground: #ffffff;

}






@theme inline {


  --color-background: var(--background);

  --color-foreground: var(--foreground);



  --font-sans:
  "Inter",
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Arial,
  sans-serif;



  --font-mono:
  "Courier New",
  monospace;


}







/* GLOBAL RESET */


* {

  box-sizing: border-box;

}






html {

  scroll-behavior: smooth;

}






html,
body {

  margin:0;

  padding:0;

  min-height:100%;

}







body {


  background:#080808;

  color:#ffffff;


  font-family:var(--font-sans);


  -webkit-font-smoothing:antialiased;

  -moz-osx-font-smoothing:grayscale;


}







/* REMOVE HORIZONTAL SCROLL */


body {

  overflow-x:hidden;

}







/* TEXT SELECTION */


::selection {


  background:#A65E2E;

  color:white;


}








/* BUTTONS */


button {


  cursor:pointer;

  font-family:inherit;


}








/* INPUTS */


input,
textarea,
select {


  font-family:inherit;


}








/* IMAGES */


img {


  max-width:100%;

  height:auto;

  display:block;


}








/* LINKS */


a {


  text-decoration:none;

  color:inherit;


}








/* PREMIUM SCROLLBAR */


::-webkit-scrollbar {


  width:8px;


}





::-webkit-scrollbar-track {


  background:#080808;


}





::-webkit-scrollbar-thumb {


  background:#333333;


  border-radius:20px;


}





::-webkit-scrollbar-thumb:hover {


  background:#A65E2E;


}








/* FIREFOX SCROLLBAR */


html {


  scrollbar-width:thin;


  scrollbar-color:#333333 #080808;


}








/* HIDE HORIZONTAL SCROLLBAR FOR SLIDERS */


.scrollbar-hide::-webkit-scrollbar {


  display:none;


}


.scrollbar-hide {


  -ms-overflow-style:none;

  scrollbar-width:none;


}








/* SMOOTH IMAGE RENDERING */


img {


  image-rendering:auto;


}








/* REMOVE DEFAULT FOCUS STYLE */


button:focus,
a:focus {


  outline:none;


}








/* PREMIUM TRANSITIONS */


button,
a {


  transition-duration:300ms;


}








/* SELECTION COLORS */


::selection {


  background:#A65E2E;

  color:#ffffff;


}

@keyframes marquee {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}


.marquee {

  animation: marquee 25s linear infinite;

}


.marquee:hover {

  animation-play-state: paused;

}